.link-circle {
    display: none;
    /* Hide by default */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0360d0;
}

body {
    background: white;
}

.dark body {
    background: black;
}